*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* header banner styling start */
header{
    background-image: url(images/banner/banner3.png);
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.first_banner{
    text-align: right;
    margin-right: 130px;
    padding-top: 200px;
    color: bisque;
    
}
.first_banner_h1{
    font-size: 50px;
    margin-bottom: 10px;
    
}
.first_banner_p{
    color: rgb(204, 231, 47);
    margin-bottom: 10px;
    font-size: 18px;
}
.first_banner_btn{
    background-color: rgb(255, 254, 254);
    color: rgb(4, 135, 250);
    border: none;
    height: 40px;
    width: 10%;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
    font-size: 17px;
}
/* header banner end */

/* previous year container style start */
img{
    height: 100%;
    width: 100%;
}
.previous_year_container{
    display: flex;
    margin:100px 100px;
    justify-content: space-around;
}
.previous_year_img{
    height: 70vh;
}
.previous_year_description{
    margin-top: 100px;
}
.previous_year_h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.previous_year_p{
    margin-bottom: 20px;
    color: darkslategray;
    font-size: 18px;
}
.previous_year_ul{
    list-style: none;
}
.previous_year_ul li{
    margin-bottom: 5px;
    font-size: 18px;
}
.previous_year_ul li i{
    color: chartreuse;
    margin-right: 5px;
}
/* previous year section end  */

/* next_year_container style start */
.next_year_container{
    height: 70vh;
    background-image: url(images/belon.jpg);
    background-position:center;
    background-size: cover;
    
}
.next_year_description{
    padding-top: 150px;
    padding-left: 200px;
    color: antiquewhite;
}
.next_year_container h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.next_year_description ul{
    list-style: none;
    font-size: 20px;
}
/* end of next year goal style */

/* start for my goal style */
.my_plan_container{
    width: 80%;
    margin-left: 120px;
}
.my_plan_title{
    margin-top: 120px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}
.my_plan_description{
    display:flex;
    justify-content: space-around;
    text-align: center;

}
.my_plan_single img{
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
    
}

.my_plan_single p{
    margin-top: 10px;
    color: darkslategrey;
    font-size: 18px;
}
/* end my plan */
.positive_mindset_container{
    height: 300px;
    background-image: url(images/watch.png),linear-gradient(90deg, #0176d6 0%, rgba(0, 95, 172, 0));
    background-repeat:no-repeat;
    background-position: center;
    margin-top: 100px;
    background-blend-mode:multiply;
    margin-left: 200px;
    margin-right: 200px;
    
     
    

}
.mindset_description{
    margin-left: 50px;
    padding-top: 50px;
}
.mindset_description h1{
    color: antiquewhite;
    font-size: 40px;
}
.mindset_description button{
    background-color: crimson;
    border: none;
    margin-top: 20px;
    height: 40px;
    width: 15%;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 16px;
}
/* footer style start */
.foot{
    background-color: black;
    display: flex;
    height: 70vh;
    margin-top: 100px;
    /* padding: 200px; */
    justify-content: space-between;
}

.future_description{
    color: antiquewhite;
    margin: 100px 100px;
}
.future_description h1{
    font-size: 40px;
    
}
.future_description p{
    margin: 20px 0;
    font-size: 20px;
}
.foot_icon_handle{
    display: flex;
    gap: 20px;
    
}
.foot_icon_handle img{
    margin-top: 10px;
}
.subscribe{
    color: antiquewhite;
    margin: 100px 100px;
}
.subscribe h3{
    font-size: 40px;

}
.subscribe input{
    height: 30px;
    margin: 20px 0;
    background-color: black;
    border: 1px solid gray;
}
.subscribe button{
    height: 40px;
    width: 60%;
    font-weight: bold;
    background-color: hsl(207, 94%, 50%);
    color: aliceblue;
    border-radius: 5px;
    padding: 2px;
    
}


