*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* header banner styling start */
header{
    background-image: url(images/banner/banner3.png);
    height: 70vh;
    width: 100%;
}
.first_banner{
    text-align: right;
    margin-right: 150px;
    padding-top: 120px;
    color: bisque;
    
}
.first_banner_h1{
    font-size: 50px;
    margin-bottom: 10px;
    
}
.first_banner_p{
    color: rgb(204, 231, 47);
    margin-bottom: 10px;
}
.first_banner_btn{
    background-color: rgb(255, 254, 254);
    color: rgb(4, 135, 250);
    border: none;
    height: 30px;
    width: 10%;
    font-weight: bold;
}
/* header banner end */

/* previous year container style start */
img{
    height: 100%;
    width: 100%;
}
.previous_year_container{
    display: flex;
    margin:100px 100px;
    justify-content: space-around;
}
.previous_year_img{
    height: 70vh;
}
.previous_year_description{
    margin-top: 100px;
}
.previous_year_h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.previous_year_p{
    margin-bottom: 20px;
    color: darkslategray;
}
.previous_year_ul{
    list-style: none;
}
.previous_year_ul li i{
    color: chartreuse;
    margin-right: 5px;
}
/* previous year section end  */